 /*    font-family: 'Roboto', sans-serif;
font-family: 'Suez One', serif;
    : rgb(110, 17, 33);
    background-color: pink;*/
    :root
{
    /*Couleurs*/
    --eagle-green: #005059;
    --metallic-seaweed : #08808E;
    --middle-blue : #7AC9D0;
    --powder-blue : #C8E8EA;
    --vivid-tangerine : #FE9A84;
    /*polices*/
    --titres : 'Suez One', serif;  
    --corps-de-txt : 'Roboto', sans-serif;
    /*size*/
    --size16 : 1rem;
    --size20: 1.25rem;
    --size24: 1.5rem;
    --size32 : 2rem;
    /*weight*/

}
body
{
    font-family: var(--corps-de-txt);
    font-size: var(--size16);
    background-color: var(--eagle-green); 
    color: var(--powder-blue);   
}
.multiplication
{
    font-family: var(--titres);
    font-size: var(--size24);
    color : white;
    padding: 1rem;
}
.titre-page
{
    font-family: var(--titres);
    font-size: var(--size32);
    color : white;
}
.table-de-multiplication
{
    text-align: center;
    color : white;
    background-color: var(--metallic-seaweed);
    padding : 1rem;
    width : 15rem;
    height : auto;
    border-radius: 15%;
}
ul
{
    list-style: none;
    padding-left: 0;
    display : flex;
    justify-content: space-between;
    align-content: center;
}
a{
    text-decoration: none;
    color : white;
    font-weight: 900;
    font-size: var(--size20);
}
a:hover
{
    color : var(--vivid-tangerine)
}
header
{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
li
{
    padding: 1rem;
}
.bg-y-arrow
{
    width: 400px;
    height : 200px;
    background-image: url(media/y-arrow.svg);
}