@charset "UTF-8";
/*    font-family: 'Roboto', sans-serif;
font-family: 'Suez One', serif;
    : rgb(110, 17, 33);
    background-color: pink;*/
:root {
  /*Couleurs*/
  --eagle-green: #005059;
  --metallic-seaweed: #08808E;
  /*--middle-blue : #7AC9D0;   couleur en sursie*/
  --powder-blue: #C8E8EA;
  --vivid-tangerine: #FE9A84;
  --miel-epice: #EFAE4F;
  /*polices*/
  --titres: 'Suez One', serif;
  --corps-de-txt: 'Roboto', sans-serif;
  /*size*/
  --size16: 1rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size32: 2rem;
  /*weight*/
}

/*--------------------- Mediaqueries------------------*/
/*@media screen and (min-width : 992px){}  <-9 pouces*/
/*@media screen and (min-width: 480px) and (max-width : 991px){}  <-tablette*/
/*@media screen and (max-width: 479px){}smartphone*/
body {
  font-family: var(--corps-de-txt);
  font-size: 1rem;
  background-color: var(--eagle-green);
  color: var(--powder-blue);
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

h1 a, ul li a, .table-de-trois a {
  text-decoration: none;
  color: var(--powder-blue);
}

h1 {
  font-family: var(--titres);
  font-size: var(--size24);
  color: var(--powder-blue);
  padding: 1rem;
}

h1 a:hover {
  color: var(--vivid-tangerine);
}

.intro {
  padding-top: 1rem;
}

.titre-page {
  font-family: var(--titres);
  font-size: var(--size32);
  color: var(--powder-blue);
  position: relative;
}

.titre-page::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: -20px;
  background-color: var(--miel-epice);
}

ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

ul li {
  padding: 1rem;
}

ul li a {
  font-weight: 900;
  font-size: var(--size20);
}

ul li a:hover {
  color: var(--vivid-tangerine);
}

.barrenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 3px solid var(--miel-epice);
}

.table-de-trois, .window-box, .table-box {
  text-align: center;
  color: var(--powder-blue);
  background-color: var(--metallic-seaweed);
  -webkit-box-shadow: 14px 15px 11px -6px rgba(1, 39, 43, 0.52);
          box-shadow: 14px 15px 11px -6px rgba(1, 39, 43, 0.52);
}

/*-------------------------------Niveau 1-----------------------------*/
.table-de-trois {
  width: 15rem;
  height: auto;
  margin-left: 20%;
  border-radius: 15%;
  padding: 1rem;
  position: absolute;
  top: 60%;
  right: 10%;
}

.partage {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partage header {
  max-width: 45%;
}

.partage div {
  position: relative;
}

.partage .bg-y-arrow {
  width: 400px;
  height: 200px;
  background-image: url(media/y-arrow.svg);
  position: absolute;
  right: 70%;
}

/*------------------------Niveau 2--------------------------*/
.window-box {
  width: 38rem;
  margin: 3rem auto;
  border-radius: 15px;
  padding: 1rem;
}

.choisis-un-chiffre {
  border-style: none;
  background-color: var(--powder-blue);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-family: var(--corps-de-txt);
  font-weight: 700;
  color: var(--eagle-green);
  -webkit-appearance: none;
}

.btn, .afficher {
  border-style: none;
  font-family: var(--corps-de-txt);
  color: var(--eagle-green);
  font-weight: 700;
  background-color: var(--miel-epice);
  -webkit-box-shadow: 10px 10px 8px -5px rgba(4, 76, 84, 0.72);
          box-shadow: 10px 10px 8px -5px rgba(4, 76, 84, 0.72);
  cursor: pointer;
}

.btn {
  font-size: var(--size24);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
}

/*------------------------Niveau 3--------------------------*/
/*La fenêtre présentant les checkbox a une classe "window-box" créée au niveau2*/
.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-form div {
  padding: 1.5rem;
  text-align: left;
}

.afficher {
  font-size: var(--size20);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
}

.table-box {
  border-radius: 15px;
}

.table-box h3 {
  color: var(--miel-epice);
  padding-right: 0.5rem;
}

.table-box p {
  text-align: left;
  padding-left: 1.2rem;
}

.flex-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: 1rem auto 3rem;
}

/*------------------------Niveau 4--------------------------*/
/*le contenu est dans une fenêtre "window-box", les boutons "Go!"et "valider" ont une classe "afficher les input le classe "choisis-un-chiffre"*/
/*------------------------Niveau 5--------------------------*/
.partage2 {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partage2 header {
  max-width: 45%;
}

.partage2 div {
  position: relative;
}

.flex-n5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rose-arrow {
  position: absolute;
  left: 55%;
  top: 40%;
}

.questions-n5 {
  font-family: var(--corps-de-txt);
  font-size: var(--size24);
  color: var(--miel-epice);
  font-weight: 900;
}

.score {
  font-family: var(--corps-de-txt);
  font-size: var(--size24);
  font-weight: 700;
  position: relative;
}

.score span {
  font-size: var(--size32);
  font-weight: 900;
  color: var(--vivid-tangerine);
}

@media screen and (min-width: 480px) and (max-width : 991px) {
  .container {
    max-width: 991px;
  }
  .resp-disappear {
    display: none;
  }
  .burger {
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: relative;
  }
  .burger span {
    width: 100%;
    height: 2px;
    background-color: var(--powder-blue);
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before, .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--powder-blue);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .burger span::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .burger span::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .burger.active span {
    background-color: transparent;
  }
  .burger.active span::before {
    -webkit-transform: translateY(0px) rotateZ(45deg);
            transform: translateY(0px) rotateZ(45deg);
  }
  .burger.active span::after {
    -webkit-transform: translateY(0px) rotateZ(-45deg);
            transform: translateY(0px) rotateZ(-45deg);
  }
  .padding-right {
    width: 40px;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }
  .nav-links {
    position: absolute;
    height: 500px;
    right: 0;
    width: 150px;
    top: 142px;
    background-color: var(--metallic-seaweed);
    color: var(--powder-blue);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    z-index: 1;
  }
  .nav-links li {
    list-style-type: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-active {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .flex-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  /*---------------Niveau 1-----------------*/
  .partage {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partage header {
    max-width: 80%;
    padding-bottom: 1rem;
    margin-top: 10%;
  }
  .partage div {
    margin-top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partage .bg-y-arrow {
    width: 400px;
    height: 200px;
    background-image: url(media/y-arrow.svg);
    position: absolute;
    right: 30%;
    top: -50%;
    margin-bottom: 10%;
  }
  .table-de-trois {
    position: relative;
    left: 10%;
  }
  /*---------------Niveau 5-----------------*/
  .rose-arrow {
    display: none;
  }
  .partage2 {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partage2 header {
    margin-top: 2rem;
    max-width: 40%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 480px;
  }
  .resp-disappear {
    display: none;
  }
  .burger {
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: relative;
  }
  .burger span {
    width: 100%;
    height: 2px;
    background-color: var(--powder-blue);
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before, .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--powder-blue);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .burger span::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .burger span::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .burger.active span {
    background-color: transparent;
  }
  .burger.active span::before {
    -webkit-transform: translateY(0px) rotateZ(45deg);
            transform: translateY(0px) rotateZ(45deg);
  }
  .burger.active span::after {
    -webkit-transform: translateY(0px) rotateZ(-45deg);
            transform: translateY(0px) rotateZ(-45deg);
  }
  .padding-right {
    width: 40px;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }
  .nav-links {
    position: absolute;
    height: 500px;
    right: 0;
    width: 150px;
    top: 142px;
    background-color: var(--metallic-seaweed);
    color: var(--powder-blue);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    z-index: 1;
  }
  .nav-links li {
    list-style-type: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-active {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .flex-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  /*---------------Niveau 1-----------------*/
  .partage {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partage header {
    max-width: 80%;
    padding-bottom: 1rem;
    margin-top: 10%;
  }
  .partage div {
    margin-top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partage .bg-y-arrow {
    width: 400px;
    height: 200px;
    background-image: url(media/y-arrow.svg);
    position: absolute;
    right: 30%;
    top: -50%;
    margin-bottom: 10%;
  }
  .table-de-trois {
    position: relative;
    left: -22%;
  }
  /*---------------Niveau 5-----------------*/
  .rose-arrow {
    display: none;
  }
  .partage2 {
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partage2 header {
    margin-top: 2rem;
    max-width: 40%;
  }
  /*------------------niveau 2 smartphone----------*/
  .window-box {
    max-width: 15rem;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
  }
  /*-------------------------- niveau 3--------------------*/
  .flex-tables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1000px;
    margin: 1rem auto 3rem;
  }
  /*-------------------------- niveau 4--------------------*/
}
/*# sourceMappingURL=style.css.map */