 /*    font-family: 'Roboto', sans-serif;
font-family: 'Suez One', serif;
    : rgb(110, 17, 33);
    background-color: pink;*/
    @import"modules/variables.scss";

body
{
    font-family: var(--corps-de-txt);
    font-size: 1rem;
    background-color: var(--eagle-green);
    color: var(--powder-blue);  
    margin : 0 auto; 
}
h1
{
    font-family: var(--titres); 
    font-size: var(--size24);
    color :var(--powder-blue);
    padding: 1rem;
}
.titre-page
{
    font-family: var(--titres);
    font-size: var(--size32);
    color :var(--powder-blue);
}
%box-multiplication
{
    text-align: center;
    color :var(--powder-blue);
    background-color: var(--metallic-seaweed);
    box-shadow: 14px 15px 11px -6px rgba(1,39,43,0.52)
}
.table-de-trois
{
    @extend%box-multiplication;
    padding : 1rem;
    width : 15rem;
    height : auto;
    border-radius: 15%;
    margin-left: 20%;
}
ul
{
    list-style: none;
    padding-left: 0;
    display : flex;
    justify-content: space-between;
    align-content: center;
    li
    {
        padding: 1rem;
        a{
            text-decoration: none;
            color : var(--powder-blue);
            font-weight: 900;
            font-size: var(--size20);
            &:hover{
                color : var(--vivid-tangerine);
            }
    }    
}


    
}
.barrenav
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 3px solid var(--miel-epice);
}

.bg-y-arrow
{
    width: 400px;
    height : 200px;
    background-image: url(media/y-arrow.svg);
}